body {
    overflow: scroll;
    height: 100%;
    background-color: #fafafa;
}

body * {
    font-weight: 300 !important;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
}

p#about {
    padding-top: 80px;
}

div.collage {
    text-align: center;
    padding-top: 80px;
    position: relative;
}

button.new {
    margin-right: 4px;
}

.inl채gg {
    padding-top: 150px;
}

.inl채gg > h4, h6 {
    text-align: center;
}

.inl채gg *, .inl채gg > form > button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    height: 170px;
    width: 650px;
}

#comment {
    border: solid black 1px;
    height: 250px;
    width: 300px;
    padding: 5px;
    margin-left: 15px;
}

#comment > h4 {
    text-align: center;
}

ul.comment-list li:hover {
    background-color: transparent;
}

div.mdl-layout__header-row {
    padding-left: 0;
}

div a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: #34495e;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li {
    background: #34495e;
    display: block;
}

ul li ul li a {
    display: block !important;
}

ul li ul li:hover {
    background: #2c3e50;
}

span {
    font-weight: 400 !important;
}

.mdl-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    padding: 10px;
}

.about {
    text-align: center;
    padding-top: 80px;
}
