body {
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 100%;
    background-color: #fafafa;
}

header {
    position: fixed;
}

div.collage {
    text-align: center;
    padding-top: 80px;
    position: relative;
}

div.collage.mdl-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

div.mdl-layout__header-row {
    padding-left: 0;
}

div a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {display: inline-block;}
ul li:hover {background: #34495e;}
ul li:hover ul {display: block;}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li {
    background: #34495e;
    display: block;
}

ul li ul li a {
    display:block !important;
}

ul li ul li:hover {
    background: #2c3e50;
}

label.mdl-textfield__label {
    font-weight: normal;
}

.mdl-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

