body {
    overflow: scroll;
    height: 100%;
    background-color: #fafafa;
}

body * {
    font-weight: 300 !important;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
}

p#about {
    padding-top: 80px;
}

div.collage {
    text-align: center;
    padding-top: 80px;
    position: relative;
}

div.collage.mdl-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

div#inlägg {
    padding-top: 80px;
    text-align: center;
}

p#content {
    border: 1px solid black;
}

div#post.mdl-button {

}

div.mdl-layout__header-row {
    padding-left: 0;
}

div a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display:inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {display: inline-block;}
ul li:hover {background: #34495e;}
ul li:hover ul {display: block;}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li {
    background: #34495e;
    display: block;
}

ul li ul li a {
    display:block !important;
}

ul li ul li:hover {
    background: #2c3e50;
}

span {
    font-weight: 400 !important;
}
.mdl-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




