<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" id="home" href="/">HOME</a>
        <a class="mdl-navigation__link" id="about" href="/about">ABOUT</a>
        <ul>
          <li>
            <a class="mdl-navigation__link" id="category">CATEGORIES</a>
            <ul>
              <li><a href="#">ACTION</a></li>
              <li><a href="#">ROMANCE</a></li>
              <li><a href="#">AIDS</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <a class="mdl-navigation__link" id="archive">ARCHIVE</a>
            <ul>
              <li><a href="#">JULY 2016</a></li>
              <li><a href="#">MAY 2016</a></li>
              <li><a href="#">APRIL 2016</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
</div>

<div class="collage">
  <img src="/img/collage.png">
</div>

<div class="inlägg">
  <% for post in @posts.sort_by{|p| p.created_at}.reverse%>
      <h4><%= post.title %></h4>
      <h6><%= post.category %></h6>
      <p class="content"><%= post.content %></p>
      <form action="/comment/<%= post.id %>" method="get">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          COMMENT
        </button>
      </form>
  <% end %>
</div>
