<div class="demo-card-wide mdl-card mdl-shadow--8dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">ADMIN</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs">
      <div class="mdl-tabs__tab-bar">
        <a href="#login" class="mdl-tabs__tab is-active">LOG IN</a>
        <a href="#register" class="mdl-tabs__tab">REGISTER</a>
      </div>
      <div class="mdl-tabs__panel is-active" id="login">
        <form action="/admin/login" method="post">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" name="username" type="text" id="username">
            <label class="mdl-textfield__label" for="username"><span>Username</span></label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" name="password" type="password" id="password">
            <label class="mdl-textfield__label" for="password"><span>Password</span></label>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Log In
          </button>
        </form>
      </div>
      <div class="mdl-tabs__panel" id="register">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" name="first name" type="text" id="first name">
          <label class="mdl-textfield__label" for="first name"><span>First Name</span></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" name="last name" type="text" id="last name">
          <label class="mdl-textfield__label" for="last name"><span>Last Name</span></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" name="username" type="text" id="username">
          <label class="mdl-textfield__label" for="username"><span>Username</span></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" name="password" type="password" id="password">
          <label class="mdl-textfield__label" for="password"><span>Password</span></label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Register
        </button>
      </div>
    </div>
  </div>
</div>

