<form action="/post/create" method="post" >
  <input type="text" name="title">
  <h4>IMAGE</h4>
  <button class="mdl-button mdl-js-button mdl-button--fab">
    <i class="material-icons">add</i>
  </button>
  <textarea name="content"></textarea>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    POST
  </button>
</form>
<% for post in @posts %>
    <form action="/post/<%= post.id %>/delete" method="post">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-post-id="<%= post.id %>" type="submit"> REMOVE POST</button>
    </form>
<% end %>